<% if(session){ %>
    
  <%- include('header1',{user:session.pseudo,statut:session.statut})-%>
  
<% }else
{ %> 
<%- include('header1')-%>
<% }%>

<div class="ui container">
        <%= produit%>
        <div class="ui container">
        <% for(r of result){ %>
              Posté le <%= r.date %><br/>
              Titre :<%= r.titre %><br/>
              Catégorie: <%= r.categorie %><br/>
              Description : <%= r.description %><br/>
              Prix TTC: <%= r.prix %> €<br/>
              <a href="../produit?id=<%= r._id %>"><button class="ui button blue">voir</button></a>
              <hr/>
          <% } %>
         
        </div>
     </div>

     <%- include footer -%>