
<% if(session){ %>
    
    <%- include('header1',{user:session.pseudo,statut:session.statut})-%>
    
  <% }else
  { %> 
<%- include('header1')-%>
<% }%>
<p>
    <% if(message && message.error){%>
        <div class="ui message red inverted"><%= message.error %></div>
    <% } %>
    <% if(message && message.succes){%>
        <div class="ui message green inverted"><%= message.succes %></div>
    <% } %>

                 
 
</p>
<div class="ui container">
    <h2>Register</h2>
        <form class="ui form" action="/register" method="post">
           <div class="field">
               <label for="prenom">Prenom</label>
               <input type="text" name="prenom" id="prenom" placeholder="prenom">
           </div>
           <div class="field">
            <label for="nom">Nom</label>
            <input type="text" name="nom" id="nom" placeholder="nom">
        </div>
        <div class="field">
            <label for="nom">Adresse</label>
            <input type="text" name="adresse" id="adresse" placeholder="adresse">
        </div>
        <div class="field">
            <label for="nom">date de naissance</label>
            <input type="date" name="date" id="date" placeholder="date">
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="email">
        </div>
        <div class="field">
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
       
        <button class="ui button green" type="submit"><i class="edit outline icon"></i> Submit</button>
        </form>
</div>
<div style="padding-botton:2rem;"></div>
<%- include footer -%>